.about_wrapper {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.circle_threejs {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.description_wrapper {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}
.description_container {
    color: var(--white);
    border: solid var(--button-primary) 5px;
    border-radius: 3px;
    text-align: center;
    width: 30%;
    padding: 30px;
}

.description_wrapper h1 {
    font-size: 3vh;
}

@media screen and (max-width: 992px) {
    .description_wrapper {
        top: 30%;
        width: 100%;
        left: 0;
    }
}
/* .description_text{
    color: var(--white);
    font-size: 2vw;
    width: 50vw;
    display: flex;
    padding: 0 10vw 0 10vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */
/* .content_wrapper {
    position: absolute;
    top: 30%;
    z-index: 0;
   width: 100vw;
   display: inline-block;
   padding: 20px;
   color: var(--white);
   background-color: var(--blue);
} */

/* .content_wrapper h1 {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.self_intro {
    display: grid;
    background-color: var(--secondary);
    grid-template-columns: 1fr 1fr;
}

.self_description {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: var(--primary-blue);
} */



/* .about_background {
    position: absolute;
    z-index: 0;
    top: 0;
} */

/* .content_wrapper {
    top: 0;
    position: absolute;
    height: 100%;

}

.content_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.content_section {
    color: var(--white);
}

.self_intro {
    background-color: #102A44;
    padding: 20px;
    text-align: center;
    width: 40%;
}

.self_intro .self_description {
    background-color: #000C1D;
    padding: 10px;
}

.self_skills {
    background-color: #102A44;
    padding: 20px;
    text-align: center;
    width: 40%;
} */