.about_wrapper {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.circle_threejs {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.description_wrapper {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}
.description_container {
    color: var(--white);
    border: solid var(--button-primary) 5px;
    border-radius: 3px;
    text-align: center;
    width: 30%;
    padding: 30px;
}

.description_wrapper h1 {
    font-size: 3vh;
}

@media screen and (max-width: 992px) {
    .description_wrapper {
        top: 30%;
        width: 100%;
        left: 0;
    }

    .description_container {
        width: 100%;
    }
}