.hero_wrapper {
    background-color: #001122;
    color: white;
}

.hero_wrapper .hero_img {
	position: relative;
}

.hero_wrapper .hero_img .decor_img{
	position: absolute;
	top: 10vh;
	left: 0;
	width: 10vw;
}
.hero_wrapper .hero_img .main_img{
    width: 50vw;
    object-fit: contain;
}

.hero_wrapper .self_intro {
  display: block;
  width: 40%;
}

.hero_wrapper .self_intro h1 {
	border-bottom: 1px solid wheat;
  padding-bottom: 5px;
} 

.hero_wrapper .self_intro div {
  margin-top: 5px;
	display: inline-block;
} 

.hero_wrapper .introduction h1{
	text-align: center;
}

.logo_section {
	position: absolute;
	top: 10vh;
	left: 10vw;
}
.logo_section a {
  color: #fffbf1;
  text-shadow: 0 10px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logo_section a:before,
.logo_section a:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 110%;
  top: 50%;
  display: block;
  border: 0.5vw solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.logo_section a:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.logo_section a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 15px 15px 15px rgba(46, 46, 49, .8);
}

@media screen and (max-width: 992px) {
    .hero_wrapper .self_intro {
    margin-top: 5%;
    display: inline-block;
    width: 100%;
  }
  .hero_wrapper .introduction {
    margin-top: 5%;
  }
}